@import "constants";

*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.main{
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: $background;
  &_container{
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
  }
}