@import "constants";

//ostylowanie banerów o braku rasy oraz o stronie 'wyszukaj'
.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1em;
  margin-top: 3em;
  overflow-x: hidden;
  overflow-y: auto;
  .no-banner_img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $text;
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  &_img{
    background-image: url('src/assets/searchBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 5px solid $primary;
  }
  &_msg{
    color: $text;
    text-align: center;
    max-width: 250px;
  }
}

.result{
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  overflow-x: hidden;
  overflow-y: auto;
  &_img-wrapper{
    display: flex;
    justify-content: center;
  }
  .breed-img{
    min-width: 100px;
    width: 50%;
    max-width: 320px;
    clip-path: circle();
  }
  &_title{
    color: $heading;
    font-weight: 500;
    text-transform: capitalize;
    margin: .5em 0;
  }
  &_msg{
    color: $text;
    letter-spacing: 1.5px;
    line-height: 1.8;
    overflow-x: hidden;
    overflow-y: auto;
  }
}