@import "constants";

.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1em;
  margin-top: 3em;
  &_img{
    background-image: url('src/assets/searchBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 3px solid $primary;
  }
  &_msg{
    color: $text;
    text-align: center;
    max-width: 250px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.no-banner_img{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $text;
  border-radius: 50%;
  padding: 2em;
}