@import "constants";

.main-screen{
  height: 100%;
  &_header{
    color: $heading;
    font-weight: 500;
  }
  &_list{
    padding: .5em 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .error-msg{
    text-align: center;
    color: $accent;
  }
}