@import 'constants';

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  gap: 2em;
  width: 100vw;
  padding: 1.2em 0;
  background-color: $primary;
  overflow: hidden;
}