@import "constants";
.search-screen{
  height: 100%;
  .message{
    color: $text;
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1.5em;
  }
  .searchbar{
    display: flex;
    flex-direction: column;
    gap: 1em;
    &_input{
      background-color: $background;
      color: $text;
      border: 1px solid $heading;
      border-radius: 7px;
      font-size: 1rem;
      padding: .8em .75em;
      width: 100%;
      &::placeholder{
        color: $text;
      }
    }
    &-input-container{
      flex: 1;
      position: relative;
      &::before{
        position: absolute;
        top: -10px;
        left: 12px;
        content: 'Wpisz rasę, której szukasz';
        color: black;
        font-size: .65rem;
        padding: .2em .3em;
        background-color: $primary;
      }
    }
    &_button{
      background-color: $primary;
      color: $background;
      border: none;
      border-radius: 7px;
      font-size: 1rem;
      padding: 0.5em 1em;
      cursor: pointer;
      &:hover{
        color: $heading;
      }
    }
  }
  .search-results{
    height: 85%;
    display: flex;
  }
}

@media screen and (min-width: 350px){
  .searchbar{
    flex-direction: row !important ;
  }
}